Django==1.11
certifi==2017.11.5
chardet==3.0.4
django-registration-redux==2.0
django-widget-tweaks==1.4.1
docker==2.6.1
docker-pycreds==0.2.1
gunicorn==19.7.1
idna==2.6
psycopg2==2.7.3.2
pytz==2017.3
requests==2.18.4
six==1.11.0
urllib3==1.22
websocket-client==0.44.0
