{% extends "registration/registration_base.html" %}
{% block title %} Log in {% endblock %}
{% block form_panel %}
<div class="col-lg-6 bg-white">
    <div class="form d-flex align-items-center">
        <div class="content">
            <form id="login-form" method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    {% for error in form.non_field_errors %}
                    <label style="color: #dc3545;">{{  error }}</label>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <input id="login-username" type="text" name="username" required="" class="input-material">
                    <label for="login-username" class="label-material">Username</label>
                </div>
                <div class="form-group">
                    <input id="login-password" type="password" name="password" required="" class="input-material">
                    <label for="login-password" class="label-material">Password</label>
                </div>
                <input id="register" type="submit" value="Login" class="btn btn-primary">
                <!-- This should be submit button but I replaced it with <a> for demo purposes-->
            </form>
            <a href="{% url 'auth_password_reset' %}" class="forgot-pass">Forgot Password?</a>
            <br>
            <small>Do not have an account? </small>
            <a href="{% url 'registration_register' %}" class="signup">Signup</a>
        </div>
    </div>
</div>
{% endblock %}