{% load static %}
<nav class="side-navbar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
        <div class="avatar"><img src="{% static 'img/avatar-1.jpg' %}" alt="..." class="img-fluid rounded-circle"></div>
        <div class="title">
            <h1 class="h4">{{user.username}}</h1>
            <p>Web Designer</p>
        </div>
    </div>
    <!-- Sidebar Navidation Menus-->
    <span class="heading">Main</span>
    <ul class="list-unstyled">
        <li class="active">
            <a href="#dashvariants" aria-expanded="false" data-toggle="collapse">
                <i class="icon-interface-windows"></i>Projects </a>
            <ul id="dashvariants" class="collapse list-unstyled">
                <li>
                    <a href="#">Project 1</a>
                </li>
                <li>
                    <a href="#">Project 2</a>
                </li>
                <li>
                    <a href="{% url 'project-add' %}">New Project</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>